* {
    box-sizing: border-box;
}

body {
    background-color: #6c8e96;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.page-title {
    display: flex;
    flex-wrap: wrap;
    color: blue; 
    font-size: 64px; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
    border-bottom: blue 5px dotted;
    border-radius: 5px;
    justify-content: center;
}

.highscore, a , .takeQuiz {
    text-decoration: none;
    color: black;
}

.qAnswer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    width: 100%;
}

.quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    color: blue;
    font-size: 30px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.qBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.score-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center; 
    text-transform: uppercase;
    color: blue;
    font-size: 30px;
}