* {
    box-sizing: border-box;
}

body {
    background-color: #6c8e96;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.page-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
    width: 100%;
}

.quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    border: black 2px solid;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.qBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.q-btn {
    
}